.delivery_address-wrapper

  .delivery_address-header
    = link_to root_path do
      = image_tag("logo.png", width: "200px")

  .delivery_address-main
    %section.delivery_address-container
      %h2.delivery_address-head
        商品送付先入力
      = form_with model: @address, url: addresses_path,method: :post, class:"delivery_address-form", local: true do |f|
        = render "delivery_error_messages", resource: resource
        .delivery_address-content
          .delivery_address-label
            = f.label "お名前(全角)", class: "addlress-form-label"
            %span.delivery_address-require
              必須
          .delivery_address-name
            = f.text_field :delivery_family_name, class: "delivery_address-input-default left-side", placeholder: "例)田中"
            = f.text_field :delivery_first_name, class: "delivery_address-input-default right-side", placeholder: "例)花子"

          .delivery_address-label
            = f.label "お名前カナ(全角)", class: "addlress-form-label"
            %span.delivery_address-require
              必須
          .delivery_address-name
            = f.text_field :delivery_family_name_kana, class: "delivery_address-input-default left-side", placeholder: "例)タナカ"
            = f.text_field :delivery_first_name_kana, class: "delivery_address-input-default right-side", placeholder: "例)ハナコ"

          .delivery_address-label
            = f.label "郵便番号", class: "addlress-form-label"
            %span.delivery_address-require
              必須
          = f.text_field :"post_code", class: "delivery_address-input-default", placeholder: "例)123-4567"
          .delivery_address-label
            = f.label "都道府県", class: "addlress-form-label"
            %span.delivery_address-require
              必須
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択ください"
          .delivery_address-label
            = f.label "市区町村", class: "addlress-form-label"
            %span.delivery_address-require
              必須
          = f.text_field :city, class: "delivery_address-input-default", placeholder: "例)渋谷区"
          .delivery_address-label
            = f.label "番地", class: "addlress-form-label"
            %span.delivery_address-require
              必須
          = f.text_field :home_number, class: "delivery_address-input-default", placeholder: "例)円山町1-1-1"
          .delivery_address-label
            = f.label "建物名", class: "addlress-form-labe"
            %span.delivery_address-require__optionall
              任意
          = f.text_field :building_name, class: "delivery_address-input-default", placeholder: "例)青山ビル101"
          .delivery_address-label
            = f.label "電話", class: "addlress-form-labe"
            %span.delivery_address-require__optionall
              任意
          = f.text_field :phone_number, class: "delivery_address-input-default", placeholder: "例)09012345678"

          = f.submit "ユーザー登録", class: "user_registration-btn"

  .registration-footer
    .terms
      %ul.terms__list
        %li.terms__list__privacy_policy
          = link_to "プライバシーポリシー", "#", class: "terms-link"
        %li.terms__list__of_use
          = link_to "フリマ利用規約", "#", class: "terms-link"
        %li.terms__list__law
          = link_to "特定商取引に関する表記", "#", class: "terms-link"

    = link_to root_path do
      = image_tag("point-logo.png", class: "footer-logo")
    %P.company-inc
      © FURIMA, Inc.