
.listingpage
  .top
    .logo
      = link_to root_path do
        = image_tag 'logo.png', class: 'merukari'

  .short
    .middle
      .a
        .photo
          .label
            出品画面
          .redlabel
            必須
        
        .update
          最大10枚までアップロードできます
        
        .data
          .data__square
            .data__square__photo
              .data2
                .photologo
                  = link_to root_path do
                    = image_tag 'icon_camera.png', class: 'camera'
                .moji
                  ドラッグアンドドロップ
                  %br/
                  またはクリックしてダウンロード
      
      .b
        .itemname
          .label
            商品名
          .redlabel
            必須

        .stylefield
          .stylearea
            %input.login-input-text{:name => "area", :placeholder => "40文字まで", :type => "text", :class => "area"}/
      
        .item
          .setumei
            .label
              商品の説明
            .redlabel
              必須

          %textarea.style_textarea{:name => "description", :placeholder => "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。\n          ", :rows => "7"}

          .mojisu
            0/100
        
      .c
        .itemdetail
          .detail
            商品詳細
        .kategori
          .label
            カテゴリ
          .redlabel
            必須
        
        .select
          %select.list{:name => "categoryId"}
            %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
            %option{"aria-selected" => "false", :label => "レディース", :value => "1"} レディース
            %option{"aria-selected" => "false", :label => "メンズ", :value => "2"} メンズ
            %option{"aria-selected" => "false", :label => "ベビー・キッズ", :value => "3"} ベビー・キッズ
            %option{"aria-selected" => "false", :label => "インテリア・住まい・小物", :value => "4"} インテリア・住まい・小物
            %option{"aria-selected" => "false", :label => "本・音楽・ゲーム", :value => "5"} 本・音楽・ゲーム
            %option{"aria-selected" => "false", :label => "おもちゃ・ホビー・グッズ", :value => "1328"} おもちゃ・ホビー・グッズ
            %option{"aria-selected" => "false", :label => "コスメ・香水・美容", :value => "6"} コスメ・香水・美容
            %option{"aria-selected" => "false", :label => "家電・スマホ・カメラ", :value => "7"} 家電・スマホ・カメラ
            %option{"aria-selected" => "false", :label => "スポーツ・レジャー", :value => "8"} スポーツ・レジャー
            %option{"aria-selected" => "false", :label => "ハンドメイド", :value => "9"} ハンドメイド
            %option{"aria-selected" => "false", :label => "チケット", :value => "1027"} チケット
            %option{"aria-selected" => "false", :label => "自動車・オートバイ", :value => "1318"} 自動車・オートバイ
            %option{"aria-selected" => "false", :label => "その他", :value => "10"} その他
      
        .brand
          .label
            ブランド
          .graylabel
            任意

        .syaneru
          %input.rei{:autocomplete => "off", :name => "brandName", :placeholder => "例）シャネル", :type => "text", :value => ""}/
        
        .status
          .label
            商品の状態
          .redlabel
            必須
        
        .select
          %select.condition{:name => "product[condition]"}
            %option{:value => ""} 選択してください
            %option{:value => "新品、未使用"} 新品、未使用
            %option{:value => "未使用に近い"} 未使用に近い
            %option{:value => "目立った傷や汚れなし"} 目立った傷や汚れなし
            %option{:value => "やや傷や汚れあり"} やや傷や汚れあり
            %option{:value => "汚れや傷あり"} 汚れや傷あり
            %option{:value => "全体的に状態が悪い"} 全体的に状態が悪い

      .d
        .haisou
          .detail
            配送について
      
        .futan
          .label
            配送の負担
          .redlabel
            必須
        
        .okuru
          %select.send{:name => "shippingPayer"}
            %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
            %option{"aria-selected" => "false", :label => "送料込み(出品者負担)", :value => "2"} 送料込み(出品者負担)
            %option{"aria-selected" => "false", :label => "着払い(購入者負担)", :value => "1"} 着払い(購入者負担)
        
        .delivery
          .label
            配送の地域
          .redlabel
            必須
        
        .select
          %select.haisouarea{:name => "shippingFromArea"}
            %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
            %option{"aria-selected" => "false", :label => "北海道", :value => "1"} 北海道
            %option{"aria-selected" => "false", :label => "青森県", :value => "2"} 青森県
            %option{"aria-selected" => "false", :label => "岩手県", :value => "3"} 岩手県
            %option{"aria-selected" => "false", :label => "宮城県", :value => "4"} 宮城県
            %option{"aria-selected" => "false", :label => "秋田県", :value => "5"} 秋田県
            %option{"aria-selected" => "false", :label => "山形県", :value => "6"} 山形県
            %option{"aria-selected" => "false", :label => "福島県", :value => "7"} 福島県
            %option{"aria-selected" => "false", :label => "茨城県", :value => "8"} 茨城県
            %option{"aria-selected" => "false", :label => "栃木県", :value => "9"} 栃木県
            %option{"aria-selected" => "false", :label => "群馬県", :value => "10"} 群馬県
            %option{"aria-selected" => "false", :label => "埼玉県", :value => "11"} 埼玉県
            %option{"aria-selected" => "false", :label => "千葉県", :value => "12"} 千葉県
            %option{"aria-selected" => "false", :label => "東京都", :value => "13"} 東京都
            %option{"aria-selected" => "false", :label => "神奈川県", :value => "14"} 神奈川県
            %option{"aria-selected" => "false", :label => "新潟県", :value => "15"} 新潟県
            %option{"aria-selected" => "false", :label => "富山県", :value => "16"} 富山県
            %option{"aria-selected" => "false", :label => "石川県", :value => "17"} 石川県
            %option{"aria-selected" => "false", :label => "福井県", :value => "18"} 福井県
            %option{"aria-selected" => "false", :label => "山梨県", :value => "19"} 山梨県
            %option{"aria-selected" => "false", :label => "長野県", :value => "20"} 長野県
            %option{"aria-selected" => "false", :label => "岐阜県", :value => "21"} 岐阜県
            %option{"aria-selected" => "false", :label => "静岡県", :value => "22"} 静岡県
            %option{"aria-selected" => "false", :label => "愛知県", :value => "23"} 愛知県
            %option{"aria-selected" => "false", :label => "三重県", :value => "24"} 三重県
            %option{"aria-selected" => "false", :label => "滋賀県", :value => "25"} 滋賀県
            %option{"aria-selected" => "false", :label => "京都府", :value => "26"} 京都府
            %option{"aria-selected" => "false", :label => "大阪府", :value => "27"} 大阪府
            %option{"aria-selected" => "false", :label => "兵庫県", :value => "28"} 兵庫県
            %option{"aria-selected" => "false", :label => "奈良県", :value => "29"} 奈良県
            %option{"aria-selected" => "false", :label => "和歌山県", :value => "30"} 和歌山県
            %option{"aria-selected" => "false", :label => "鳥取県", :value => "31"} 鳥取県
            %option{"aria-selected" => "false", :label => "島根県", :value => "32"} 島根県
            %option{"aria-selected" => "false", :label => "岡山県", :value => "33"} 岡山県
            %option{"aria-selected" => "false", :label => "広島県", :value => "34"} 広島県
            %option{"aria-selected" => "false", :label => "山口県", :value => "35"} 山口県
            %option{"aria-selected" => "false", :label => "徳島県", :value => "36"} 徳島県
            %option{"aria-selected" => "false", :label => "香川県", :value => "37"} 香川県
            %option{"aria-selected" => "false", :label => "愛媛県", :value => "38"} 愛媛県
            %option{"aria-selected" => "false", :label => "高知県", :value => "39"} 高知県
            %option{"aria-selected" => "false", :label => "福岡県", :value => "40"} 福岡県
            %option{"aria-selected" => "false", :label => "佐賀県", :value => "41"} 佐賀県
            %option{"aria-selected" => "false", :label => "長崎県", :value => "42"} 長崎県
            %option{"aria-selected" => "false", :label => "熊本県", :value => "43"} 熊本県
            %option{"aria-selected" => "false", :label => "大分県", :value => "44"} 大分県
            %option{"aria-selected" => "false", :label => "宮崎県", :value => "45"} 宮崎県
            %option{"aria-selected" => "false", :label => "鹿児島県", :value => "46"} 鹿児島県
            %option{"aria-selected" => "false", :label => "沖縄県", :value => "47"} 沖縄県
            %option{"aria-selected" => "false", :label => "未定", :value => "99"} 未定

        .date
          .label
            発送までの日数
          .redlabel
            必須
        
        .select
          %select.days{:name => "shippingDuration"}
            %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
            %option{"aria-selected" => "false", :label => "1~2日で発送", :value => "1"} 1~2日で発送
            %option{"aria-selected" => "false", :label => "2~3日で発送", :value => "2"} 2~3日で発送
            %option{"aria-selected" => "false", :label => "4~7日で発送", :value => "3"} 4~7日で発送
        
      .e
        .price
          価格（¥300〜9,999,999）
        .selling
          .pricearea
            .sellingprice
              .label
                販売価格
              .redlabel
                必須
            .dd
              .many
                ¥
              .pricefield
                %input.priceselect{:autocomplete => "off", :name => "price", :placeholder => "0", :type => "number", :value => ""}/
          
          .feearea
            .fee
              販売手数料（10%）
          
          .rieki
            .hanbairieki
              販売利益
          
          .btn
            .submit
              %input.submit--btn{"data-disable-with" => "出品する", :name => "commit", :type => "submit", :value => "出品する"}/
              %button.draft{:tabindex => "0", :type => "button"} 下書きに保存
              .back
                もどる
          
          .notes
            .font
              禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。











      

  .under
    .listes
      %ul.sc-fUdGnz.htGrsx
        %li.sc-giOsra.fjVLsR
          プライバシーポリシー
        %li.sc-giOsra.fjVLsR
          メルカリ利用規約
        %li.sc-giOsra.fjVLsR
          特定商取引に関する表記
    .logo
      = link_to root_path do
        = image_tag 'logo.png', class: 'merukari1'

