.listingpage
  .top
    = link_to root_path, class: 'top__link' do
      = image_tag 'logo.png', class: 'top__link__image'

  .short
    .middle
      .image-container
        .container-item
          %label.label
            出品画像
          %span.redlabel
            必須
        %p.image-container__message
          最大10枚までアップロードできます
        .image-upload
          .image-upload__prev
          .image-upload__register
            %label.image-upload__register__box
              = image_tag 'icon_camera.png', class: 'image-upload__register__box__image', size: "24x24"
              %span.image-upload__register__box__span
                クリックしてアップロード
              %input.image-upload__register__box__input{type: "file"}
      
      .item-container
        .container-item
          %label.label
            商品名
          %span.redlabel
            必須
        .item-name
          %input.item-name__input{ name: "area", placeholder: "40文字まで", type: "text" }
        .container-item
          %label.label
            商品の説明
          %span.redlabel
            必須
        .item-explanation
          %textarea.item-explanation__field{name: "description", placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。\n          ", rows: "7"}
          %p.item-explanation__limit
            0/1000
        
      .detail-container
        %p.container-title
          商品の詳細
        .container-item
          %label.label
            カテゴリ
          %span.redlabel
            必須
        .container-select
          %select.container-select__form
            %option.container-select__form__option
              選択してください
        .container-item
          %label.label
            ブランド
          %span.graylabel
            任意
        .brand-form
          %input.brand-form__box{autocomplete: "off", name: "brandName", placeholder: "例）シャネル", type: "text", value: ""}
        .container-item
          %label.label
            商品の状態
          %span.redlabel
            必須
        .container-select
          %select.container-select__form
            %option.container-select__form__option
              選択してください

      .send-container
        %p.container-title
          配送について
        .container-item
          %label.label
            配送の負担
          %span.redlabel
            必須
        .container-select
          %select.container-select__form
            %option.container-select-form__option
              選択してください
        .container-item
          %label.label
            配送の地域
          %span.redlabel
            必須
        .container-select
          %select.container-select__form
            %option.container-select-form__option
              選択してください
        .container-item
          %label.label
            発送までの日数
          %span.redlabel
            必須
        .container-select
          %select.container-select__form
            %option.container-select-form__option
              選択してください
        
      .price-container
        %p.container-title
          価格（¥300〜9,999,999）
        .selling-form
          .selling-form__price
            .selling-form__price__label
              %label.label
                販売価格
              %span.redlabel
                必須
            .selling-form__price__input
              %p.selling-form__price__input__yen
                ¥
              .selling-form__price__input__field
                %input.selling-form__price__input__field__box{autocomplete: "off", name: "price", placeholder: "0", type: "number", value: ""}
          .selling-form__fee
            %p.selling-form__fee__message
              販売手数料（10%）
            %p.selling-form__fee__price
              ー
          .selling-form__profit
            %p.selling-form__profit__message
              販売利益
            %p.selling-form__profit__price
              ー
          
      .submit-container 
        .submit-container__btn
          %input.submit-container__btn__submit{type: "submit", value: "出品する"}
        .submit-container__back
          = link_to '#', class: 'submit-container__back__btn' do
            もどる
          
      .notes-container
        %p.notes-container__message
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

  .under
    .under__box
      %ul.under__box__list
        %li.under__box__list__message
          プライバシーポリシー
        %li.under__box__list__message
          メルカリ利用規約
        %li.under__box__list__message
          特定商取引に関する表示
    = link_to '#', class: 'under__logo' do
      = image_tag 'logo.png', class: 'under__logo__image', size: "140x55"
    %p.under__name ©️FURIMA

