.detailsmain
  .showMain
    .showContents
      .topContents
        .itemBox
          %h2.itemBox__name
            =@item.name
          .itemBox__body
            = image_tag @item.item_images[0].image.url, alt: 'No Image', class: 'itemBox__body__mainImage'
            -# %ul.itemBox__body__subImages
            -#   %li
            -#     = image_tag @item.item_images[0].image.url, alt: 'No Image', class: 'subImage'
            -#   %li
            -#     = image_tag '/assets/pict-reason-03.jpg', alt: 'No Image', class: 'subImage'
          .itemBox__price
            .itemBox__price__tag
              =@item.price.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse
              円
            .itemBox__price__detail
              （税込）送料込み
          .itemDetail
            =@item.explanation
          .table
            %table
              %tr
                %th
                  出品者
                %td
                  = @user.nickname
              %tr
                %th
                  カテゴリー
                %td
                  %ul.category_body
                    %li
                      = link_to "#{@category_parent.name}","#"
                    %li
                      = link_to "#{@category_child.name}","#"
                    %li
                      = link_to "#{@category_grandchild.name}","#"
              %tr
                %th
                  ブランド
                %td
                  = @item.brand
              %tr
                %th
                  商品の状態
                %td
                  =@item.condition.name
              %tr
                %th
                  配送料の負担
                %td
                  =@item.postage.name
              %tr
                %th
                  発送元地域
                %td
                  = link_to "#", class: "table__link" do
                    =@item.prefecture.name
              %tr
                %th
                  発送日の目安
                %td
                  =@item.prepare.name
          %br
          - if user_signed_in? && current_user.id == @item.seller_id
            .optionalArea
              .favorite
                = link_to "商品の編集", edit_item_path, class: "favorite__word"
              .inappropriate
                = link_to "この商品を削除する", item_path, method: :delete, class: "inappropriate__word", data: { confirm: '【確認】削除すると二度と復活できません。本当に削除しますか？' }
        -if user_signed_in?
          .buyerBox
            - if @item.buyer_id.present?
              .buyer__btn
                ※購入済み
            - elsif current_user.id != @item.seller_id
              = link_to "購入する", item_confirms_path(@item), class: "buyer__btn"
            -else
              .buyer__btn
                自分の投稿です
        -else
          .buyerBox
            = link_to "ログインしてください", new_user_session_path, class: "buyer__btn"
      %ul.showLinks
        %li
          = link_to "#", class: "link" do
            = icon("fas", "angle-left")
            前の商品
        %li
          = link_to "#", class: "link" do
            後ろの商品
            = icon("fas", "angle-right")
      .relatedItems
        = link_to "#", class: "relatedItems__link" do
          メンズをもっとみる