.Footer-page
  %ul.Footer-page__menu
    %li.Footer-page__menu__list
      %h2.Footer-page__menu__list__head
        FURIMAについて
      %ul.Footer-page__menu__list__contents
        %li.Footer-page__menu__list__contents__item
          = link_to '#', class: 'Footer-page__menu__list__contents__item__link' do
            会社概要（運営会社）
        %li.Footer-page__menu__list__contents__item
          = link_to '#', class: 'Footer-page__menu__list__contents__item__link' do
            プライバシーポリシー
        %li.Footer-page__menu__list__contents__item
          = link_to '#', class: 'Footer-page__menu__list__contents__item__link' do
            FURIMA利用規約
        %li.Footer-page__menu__list__contents__item
          = link_to '#', class: 'Footer-page__menu__list__contents__item__link' do
            ポイントに関する特約
    %li.Footer-page__menu__list
      %h2.Footer-page__menu__list__head
        FURIMAを見る
      %ul.Footer-page__menu__list__contents
        %li.Footer-page__menu__list__contents__item
          = link_to '#', class: 'Footer-page__menu__list__contents__item__link' do
            カテゴリー一覧
        %li.Footer-page__menu__list__contents__item
          = link_to '#', class: 'Footer-page__menu__list__contents__item__link' do
            ブランド一覧
    %li.Footer-page__menu__list
      %h2.Footer-page__menu__list__head
        ヘルプ＆ガイド
      %ul.Footer-page__menu__list__contents
        %li.Footer-page__menu__list__contents__item
          = link_to '#', class: 'Footer-page__menu__list__contents__item__link' do
            FURIMAガイド
        %li.Footer-page__menu__list__contents__item
          = link_to '#', class: 'Footer-page__menu__list__contents__item__link' do
            FURIMAロゴ利用ガイドライン
        %li.Footer-page__menu__list__contents__item
          = link_to '#', class: 'Footer-page__menu__list__contents__item__link' do
            お知らせ
  .Footer-page__logo
    = link_to '#', class: "Footer-page__logo__link" do
      = image_tag "logo-white.png", class: 'Footer-page__logo__link__image'
    %p.Footer-page__title FURIMA